# Задание 0 (1 балл)

Данные, которые нужно использовать для выполнения задания, возьмите [здесь](https://www.kaggle.com/parulpandey/palmer-archipelago-antarctica-penguin-data).

Данные расположены в двух таблицах: **penguins_iter** и **penguiuns_size**. Для этой лабораторной работы вам понадобится только таблица **penguiuns_size**.

**penguins_size** содержит следующую информацию:
* `species`: вид, к которому относится пингвин
* `culmen_length_mm`: длина клюва
* `culmen_depth_mm`: глубина клюва
* `flipper_length_mm`: длина ласт
* `body_mass_g`: масса тела
* `island`: название острова, на котором пингвин обитает
* `sex`: пол пингвина

1. Загрузите файл с данными к себе на Гугл диск и подключите его в Google Colab через `mount.drive`.
2. Выведите общую статистику по всем числовым и нечисловым столбцам с помощью функции `describe()`.
3. Узнайте размеры датасета с помощью функции `shape`.
4. Выведите 4 первые строки датасета.

In [ ]:
import pandas as pd
from google.colab import drive
print("1.")
drive.mount('/content/drive', force_remount=True)
file = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
print("2.")
print("Number:")
print(file.describe(), end="\n\n")
print("Not Number:")
print(file.describe(include=['O']), end="\n\n")
print("3.Dimensions of the data:" + file.shape.__str__(), end="\n\n")
print("4.")
print(file.head(4))

1.
Mounted at /content/drive
2.
Number:
       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

Not Number:
       species  island   sex
count      344     344   334
unique       3       3     3
top     Adelie  Biscoe  MALE
freq       152     168   168

3.Dimensions of the data:(344, 7)

4.
  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN  ...                NaN          NaN     NaN

[4 rows x 7 columns]

# Задание 1 (1 балл)

1. Узнайте, сколько видов пингвинов представлено в таблице.
2. Посчитайте долю пингвинов каждого вида.

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
data_list = data['species'].tolist()
total_NUM = len(data_list)
num = len(np.unique(data_list).tolist())
print("1.Number of species:" + num.__str__())
count_list = pd.value_counts(data_list)
print("2.")
print(count_list.apply(lambda x: format(x * 100 / total_NUM, '.1f').__str__() + "%"))

1.Number of species:3
2.
Adelie       44.2%
Gentoo       36.0%
Chinstrap    19.8%
dtype: object

# Задание 2 (1 балл)

1. Сколько островов, на которых обитают пингвины, представлено в таблице?
2. Выведите количество пингвинов, обитающих на каждом из островов.

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
data_list = data['island'].tolist()
num = len(np.unique(data_list).tolist())
print("1.Number of Island:" + num.__str__())
count_list = pd.value_counts(data_list)
print("2.Number of penguins per island:")
print(count_list)

1.Number of Island:3
2.Number of penguins per island:
Biscoe       168
Dream        124
Torgersen     52
dtype: int64

# Задание 3 (1 балл)

1. Найдите id пингвина с самым длинным клювом и с самым коротким. Выведите всю информацию о каждом из этих пингвинов в виде таблицы.
2. Посчитайте, насколько самый длинный клюв длиннее самого короткого.

In [ ]:
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
data_list = data['culmen_length_mm']
max_len = data_list.max()
min_len = data_list.min()
index_of_max_len = data[(data_list == max_len)].index.tolist().pop()
index_of_min_len = data[(data_list == min_len)].index.tolist().pop()
print("1.")
print("The ID of the penguin with the longest culmen: " + str(index_of_max_len))
print("The ID of the penguin with the shortest culmen: " + str(index_of_min_len))
print("The form of this two penguins:")
list_of_two_penguins = data[(data_list == max_len) | (data_list == min_len)]
print(list_of_two_penguins)
print("2.The difference between the longest and shortest culmen: " + str(max_len - min_len) + "mm")

1.
The ID of the penguin with the longest culmen: 253
The ID of the penguin with the shortest culmen: 142
The form of this two penguins:
    species  island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
142  Adelie   Dream              32.1  ...              188.0       3050.0  FEMALE
253  Gentoo  Biscoe              59.6  ...              230.0       6050.0    MALE

[2 rows x 7 columns]
2.The difference between the longest and shortest culmen: 27.5mm

# Задание 4 (1.5 балла)

1. Найдите среднее соотношение между длиной и глубиной клюва.
2. Найдите среднее соотношение между массой тела пингвина и длиной его ласт.
3. Постройте корреляционную матрицу для значений столбцов `culmen_length_mm`, `culmen_depth_mm`, `flipper_length_mm`, `body_mass_g`.

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
c_length_depth_list = data[(~np.isnan(data['culmen_length_mm'])) | (~np.isnan(data['culmen_depth_mm']))][
    ['culmen_length_mm', 'culmen_depth_mm']]
c_length_depth_ratio_df = c_length_depth_list.groupby(["culmen_length_mm", "culmen_depth_mm"]).apply(
    lambda list, x, y: (list[x] / list[y]).sum() / len(list[x]), "culmen_length_mm", "culmen_depth_mm")
c_length_depth_average_ratio = c_length_depth_ratio_df.sum() / c_length_depth_ratio_df.count()
print("1.The average ratio between culmen length and depth: ",end='')
print(format(c_length_depth_average_ratio, ".4f"))

f_length_mass_g_list = data[(~np.isnan(data['body_mass_g'])) | (~np.isnan(data['flipper_length_mm']))][
    ['body_mass_g', 'flipper_length_mm']]
f_length_mass_g_ratio_df = f_length_mass_g_list.groupby(["body_mass_g", "flipper_length_mm"]).apply(
    lambda list, x, y: (list[x] / list[y]).sum() / len(list[x]), "body_mass_g", "flipper_length_mm")
f_length_mass_g_average_ratio = f_length_mass_g_ratio_df.sum() / f_length_mass_g_ratio_df.count()
print("2.The average ratio between the weight of a penguin and the length of its flipper: ",end='')
print(format(f_length_mass_g_average_ratio, ".4f"))

df_of_four_columns=data[(~np.isnan(data['culmen_length_mm'])) | (~np.isnan(data['culmen_depth_mm']))|(~np.isnan(data['body_mass_g'])) | (~np.isnan(data['flipper_length_mm']))][
    ['culmen_length_mm', 'culmen_depth_mm', 'flipper_length_mm', 'body_mass_g']]
print("3.Correlation Matrix: ")
df_of_four_columns.corr().style.background_gradient(cmap='coolwarm',axis=None).set_precision(4)

1.The average ratio between culmen length and depth: 2.6061
2.The average ratio between the weight of a penguin and the length of its flipper: 20.8164
3.Correlation Matrix:

# Задание 5 (1 балл)

1. О пингвинах какого вида в таблице больше всего недостающих данных? (Строк с `NaN`)
2. Какой информации о пингвинах чаще всего не хватает?

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
df_missing_data = data[
    (np.isnan(data['culmen_length_mm'])) | (np.isnan(data['culmen_depth_mm'])) | (
        np.isnan(data['flipper_length_mm'])) | (np.isnan(data['body_mass_g'])) | (
            (data['sex'] != "FEMALE") & (data['sex'] != "MALE"))]
print("1.The penguin species with the least data is: " + df_missing_data['species'].value_counts().idxmax())
type_missing_inform = df_missing_data.isna().sum().idxmax()
print("2.Types of most lost information: " + type_missing_inform)

1.The penguin species with the least data is: Adelie
2.Types of most lost information: sex

# Задание 6 (1 балл)

По данным из таблицы узнайте, как по размеру клюва, ласт и общей массе тела мужские особи отличаются от женских. Ответ по каждому признаку усредните.

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
df_male = data[(data['sex'] == "MALE")][["culmen_length_mm", "culmen_depth_mm", "body_mass_g", "flipper_length_mm"]]
df_female = data[(data['sex'] == "FEMALE")][["culmen_length_mm", "culmen_depth_mm", "body_mass_g", "flipper_length_mm"]]
average_male = df_male.mean()
average_female = df_female.mean()
print("The average difference between male and female culmen length is: ",end='')
print(format(average_male.get("culmen_length_mm")-average_female.get("culmen_length_mm"),'.4f'),end=' mm\n')
print("The average difference between male and female culmen depth is: ",end='')
print(format(average_male.get("culmen_depth_mm")-average_female.get("culmen_depth_mm"),'.4f'),end=' mm\n')
print("The average difference between male and female flipper length is: ",end='')
print(format(average_male.get("flipper_length_mm")-average_female.get("flipper_length_mm"),'.4f'),end=' mm\n')
print("The average difference between the total weight of male and female is: ",end='')
print(format(average_male.get("body_mass_g")-average_female.get("body_mass_g"),'.4f'),end=' g\n')

The average difference between male and female culmen length is: 3.7578 mm
The average difference between male and female culmen depth is: 1.4656 mm
The average difference between male and female flipper length is: 7.1423 mm
The average difference between the total weight of male and female is: 683.4118 g

# Задание 7 (1 балл)

По данным из таблицы узнайте, равномерно ли демографиески (процент мужских и женских особей) пингвины распределены по каждому из островов.

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
df_percentage = data['sex'].value_counts().apply(lambda x: format(x * 100 / len(data), '.2f'))
print("Percentage of males between all penguins is: " + df_percentage.get('MALE') + '%')
print("Percentage of females between all penguins is: " + df_percentage.get('FEMALE') + '%')
list_of_island = np.unique(data[['island']]).tolist()
flag = True
for i in list_of_island:
    df_island_male = data[['island', 'sex']].groupby(['island', 'sex']).get_group((i, 'MALE'))
    df_island_female = data[['island', 'sex']].groupby(['island', 'sex']).get_group((i, 'FEMALE'))
    total = len(df_island_male) + len(df_island_female)
    male_percent = len(df_island_male) * 100 / total
    female_percent = len(df_island_female) * 100 / total
    print("Percentage of males penguins in " + i + " island is:" + format(male_percent, '.2f') + '%')
    print("Percentage of females penguins in " + i + " island is:" + format(female_percent, '.2f') + '%')
    if abs(male_percent - female_percent) > 3:
        flag = False
print("Evenly Distributed") if flag else print("NOT Evenly Distributed")

Percentage of males between all penguins is: 48.84%
Percentage of females between all penguins is: 47.97%
Percentage of males penguins in Biscoe island is:50.92%
Percentage of females penguins in Biscoe island is:49.08%
Percentage of males penguins in Dream island is:50.41%
Percentage of females penguins in Dream island is:49.59%
Percentage of males penguins in Torgersen island is:48.94%
Percentage of females penguins in Torgersen island is:51.06%
Evenly Distributed

# Задание 8 (1.5 балла)

1. Узнайте, к какому виду принадлежат самые крупные по массе тела пингвины.
2. В каком количестве популяция этого вида представлена на каждом из островов?
3. Равное ли соотношение мужских и женских особей этого вида?

In [ ]:
import numpy as np
import pandas as pd

data = pd.read_csv('/content/drive/My Drive/py/penguins_size.csv')
list_of_species = np.unique(data[['species']]).tolist()
num_max = 0
name_max = np.nan
for i in list_of_species:
    temp_df = data[(data['species'] == i)][['body_mass_g']]
    average_weight = (temp_df.sum() / len(temp_df)).__float__()
    if average_weight > num_max:
        num_max = average_weight
        name_max = i
print("1.The penguin species with the heaviest weight is: " + name_max)
list_of_island = np.unique(data[['island']]).tolist()
print("2.", end='')
for i in list_of_island:
    temp_df = data[(data['species'] == name_max) & (data['island'] == i)]
    print("In the " + i + ' island have: ' + len(temp_df).__str__() + " this species penguins")
num_male = len(data[(data['species'] == name_max) & (data['sex'] == "MALE")])
num_female = len(data[(data['species'] == name_max) & (data['sex'] == "FEMALE")])
print("3.The ratio of males to females of this species equal") if num_female == num_male else print(
    "3.The ratio of males to females of this species NOT equal")

1.The penguin species with the heaviest weight is: Gentoo
2.In the Biscoe island have: 124 this species penguins
In the Dream island have: 0 this species penguins
In the Torgersen island have: 0 this species penguins
3.The ratio of males to females of this species NOT equal